.App {
  display: grid;
  grid-template-rows: 5vh 1fr;
}

.App-header {
  padding-top: 0.5vh;
  padding-left: 4px;
  min-height: 4vh;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: left;
  font-size: calc(6px + 2vmin);
  color: white;
  background-color: gray;
}


.App-body {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: left;
  align-items:flex-start;
}


.App-sidebar {
  height: 100%;
}
.App-content {
  height: 95%;
  width: 100%;
  overflow: auto;
}
